body {
    color: whitesmoke;
    text-align: center;
    background-color: black;
 }

 .container {
    background-color: rgb(40, 39, 39);
    height: 500px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
 }

 .display {
    background-color: rgb(0, 0, 0);
    width: 345px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 9px;
    text-align: right;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white;
    font-size: 25px;
 }

.btn {
    color: white;
    font-size: 25px;

 }

 #AC, #DEL, #addOrSub {
    background-color: black;
    color: whitesmoke;
    width: 90px;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 1;
 }

 #divide, #multiply, #subtract, #add, #percent, #equals {
    background-color: orange;
    color: whitesmoke;
    width: 90px;
    height: 60px;
    border: 3px solid orange;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
 }

 #seven, #eight, #nine, #four, #five, #six, #one, #two, #three {
    background-color: gray;
    color: whitesmoke;
    width: 90px;
    height: 60px;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
 }

 #zero {
    background-color: gray;
    color: whitesmoke;
    width: 170px;
    height: 60px;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
 }

 #point {
    background-color: gray;
    color: whitesmoke;
    width: 50px;
    height: 60px;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
 }

 #percent {
    background-color: orange;
    color: whitesmoke;
    width: 50px;
    height: 60px;
    border: 3px solid orange;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
 }